<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container">
        <a class="navbar-brand ms-3">Tourism Management System</a>
        <button *ngIf="name!='login'" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="name!='login'" class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-primary">Welcome - {{name}}</a>
                <a class="nav-link text-danger" (click)="logout()" routerLink="" aria-current="page" ><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </div>
    </div>
</nav>