<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      @if (status==true) {
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>Register Success</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="close()" aria-label="Close"></button>
            </div>
          </div>
        </div>
      }
      <form [formGroup]="registerForm" (ngSubmit)="saveData()">
        <div class="row mb-3">
          <div class="col text-center"><h4>REGISTER</h4></div>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            @if (registerForm.get('mail')?.invalid && registerForm.get('name')?.touched) {
              <div class="text-danger">
                @if (registerForm.get('name')?.errors?.['required']) {
                  <span> Please Enter Name </span>
                }
              </div>
            }
          </div>
          <div class="col-6 mb-3">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="mail">
            @if (registerForm.get('mail')?.invalid && registerForm.get('mail')?.touched) {
              <div class="text-danger">
                @if (registerForm.get('mail')?.errors?.['required']) {
                  <span> Please Enter Mail </span>
                }
                @if (registerForm.get('mail')?.errors?.['email']) {
                  <span> Please Enter Valid Mail </span>
                }
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
            <label>Contact</label>
            <input type="number" class="form-control" formControlName="contact" (keypress)="numOnly($event)">
            @if (registerForm.get('contact')?.invalid && registerForm.get('contact')?.touched) {
              <div class="text-danger">
                @if (registerForm.get('contact')?.errors?.['required']) {
                  <span> Please Enter Contact Number </span>
                }
              </div>
            }
          </div>
          <div class="col-6 mb-3">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="pass">
            @if (registerForm.get('pass')?.invalid && registerForm.get('pass')?.touched) {
              <div class="text-danger">
                @if (registerForm.get('pass')?.errors?.['required']) {
                  <span> Please Enter Password </span>
                }
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">REGISTER</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>