<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10 mt-3 mb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-3">
                    <div class="card w-100">
                        <div class="card-header p-5 text-center"><i class="bx bx-lg bx-bus"></i></div>
                        <div class="card-body text-center"><a routerLink="/view_package" class="text-decoration-none">View Packages</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card w-100">
                        <div class="card-header p-5 text-center"><i class="bx bx-lg bx-user"></i></div>
                        <div class="card-body text-center"><a routerLink="/view_user" class="text-decoration-none">View Users</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card w-100">
                        <div class="card-header p-5 text-center"><i class="bx bx-lg bx-book"></i></div>
                        <div class="card-body text-center"><a routerLink="/view_booking" class="text-decoration-none">View Bookings</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card w-100">
                        <div class="card-header p-5 text-center"><i class="bx bx-lg bx-envelope"></i></div>
                        <div class="card-body text-center"><a routerLink="/view_enquiry" class="text-decoration-none">View Enquiries</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>