<div class="container mt-3 mb-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </nav>
  <div class="row mb-3">
    <div class="col-md-12">
      <img src="./assets/images/tour.jpg" class="w-100" alt="tour">
    </div>
  </div>
  <div class="card">
    <div class="container">
      <h1 class="text-center text-primary text-uppercase mt-3 mb-3">Our Packages</h1>
      @for (row of packages; track row) {
        <div class="row mb-3">
          <div class="col-md-12">
            <app-package-card name="{{row.name}}" image="{{row.image}}" type="{{row.type}}" location="{{row.location}}" price="{{row.price}}" pkid="{{row.pkid}}"></app-package-card>
          </div>
        </div>
      }
      <div class="row text-center">
        <div class="col-md-12">
          <a routerLink="/packages" class="mb-3 btn btn-info">VIEW MORE PACKAGES</a>
        </div>
      </div>
    </div>
  </div>
</div>