<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container">
    <a class="navbar-brand ms-3">Tourism Management System</a>
    @if (name!='login') {
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup1" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    }
    @if (name!='login') {
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
        <div class="navbar-nav ms-auto">
          <a class="nav-link text-primary">Welcome - {{name}}</a>
          <a class="nav-link text-danger" (click)="logout()" routerLink="" aria-current="page" ><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
    }
    @if (name=='login') {
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link text-light" routerLink="/register">REGISTER</a>
          <a class="nav-link text-light" routerLink="/login">LOGIN</a>
        </div>
      </div>
    }
  </div>
</nav>
@if (name!='login') {
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup2" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarNavAltMarkup2">
        <div class="navbar-nav">
          <a class="nav-link text-light" routerLink="/home">HOME</a>
          <a class="nav-link text-light" routerLink="/packages">PACKAGES</a>
          <a class="nav-link text-light" routerLink="/about">ABOUT</a>
          <a class="nav-link text-light" routerLink="/contact_us">CONTACT US</a>
          <a class="nav-link text-light" routerLink="/enquiry">ENQUIRY</a>
        </div>
      </div>
    </div>
  </nav>
}