<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form [formGroup]="loginForm" (ngSubmit)="saveData()">
        <div class="row mb-3">
          <div class="col text-center">
            <h4>LOGIN</h4>
          </div>
        </div>
        @if (status == true) {
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{logfail}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="close()" aria-label="Close"></button>
          </div>
        }
        <div class="row mb-3">
          <div class="col">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="mail">
            @if (loginForm.get('mail')?.invalid && loginForm.get('mail')?.touched) {
              <div class="text-danger">
                @if (loginForm.get('mail')?.errors?.['required']) {
                  <span> Please Enter Mail </span>
                }
                @if (loginForm.get('mail')?.errors?.['email']) {
                  <span> Please Enter Valid Mail </span>
                }
              </div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="pass">
            @if (loginForm.get('pass')?.invalid && loginForm.get('pass')?.touched) {
              <div class="text-danger">
                @if (loginForm.get('pass')?.errors?.['required']) {
                  <span> Please Enter Password </span>
                }
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">LOGIN</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>